In [18]:
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime

import pandas as pd
import numpy as np
import requests
import time
import json

In [2]:
from IPython.display import display

In [3]:
links = """https://open.spotify.com/playlist/37i9dQZF1DX4SrOBCjlfVi
https://open.spotify.com/playlist/37i9dQZF1DWW4igXXl2Qkp
https://open.spotify.com/playlist/6oZhNW8o5ru7mb4RFkWn0M
https://open.spotify.com/playlist/4EtswXAGuGuUQcW9ctRour
https://open.spotify.com/playlist/6hWMmrVlMTvME8u0KchOpa
https://open.spotify.com/playlist/0c6wMHB5HsuZUscv3PQpih
https://open.spotify.com/playlist/6e8MhEouOuoBRYnV9GuGtK
https://open.spotify.com/playlist/5L3vZ9scrlV9DAcDEagI4c
https://open.spotify.com/playlist/0UHup1TpaqtEUD3k8H6LG5"""

In [4]:
promoter_playlist_ids = [link.split('/')[-1] for link in links.split('\n')]

In [5]:
client_id = "d0ddb71932df40e0b3a653a1b865b74f"
client_secret = "396a51bd90d14bcd842c4e0e8217a011"
auth_url = "https://accounts.spotify.com/api/token"
base = "https://api.spotify.com/v1/"
playlists = "playlists/"
rapcaviar_playlist_id = "37i9dQZF1DX0XUsuxWHRQd"

In [6]:
auth_response = requests.post(auth_url, {
    'grant_type': 'client_credentials',
    'client_id': client_id,
    'client_secret': client_secret,
}).json()

access_token = auth_response['access_token']

In [7]:
headers = {
    'Authorization': 'Bearer {token}'.format(token=access_token)
}

{'Authorization': 'Bearer BQBZtxwqQrX33OAaP7WWs-L_QCU0VSUO31eyKWI11pmxFjZlg2NsJ5CVbn1gKJbkX3LVMefLAFjFefLnYJM'}

In [8]:
response = requests.get('https://api.spotify.com/v1/playlists/37i9dQZF1DX0XUsuxWHRQd', headers=headers).json()

with open("rapcavier.json", 'w') as fp:
    json.dump(response, fp, indent=4)

In [9]:
tracks_rc = {
    "id": [],
    "name": [],
    "added_at": [],
}

for item in response['tracks']['items']:
    tracks_rc['id'].append(item['track']['id'])
    tracks_rc['name'].append(item['track']['name'])
    tracks_rc['added_at'].append(datetime.fromisoformat(item['added_at'][:-1]))

    tracks_rc['added_at'], tracks_rc['name'], tracks_rc['id'] = list(map(list, zip(*sorted(zip( tracks_rc['added_at'],
                                                                                                tracks_rc['name'], 
                                                                                                tracks_rc['id'] )))))

df_rc = pd.DataFrame(tracks_rc)

In [11]:
playlist_info = {
                    'name' : [],
                    'followers' : [],
                    'total_songs' : [],
                    'promoted_songs' : [],
                    'songs_promoted_ratio' : [],
                    'avg_promotion_time_hours' : [],
                }

for playlist in promoter_playlist_ids:
    response = requests.get(base + playlists + playlist, headers=headers)
    response = response.json()

    tracks = {
        "id": [],
        "name": [],
        "added_at": [],
    }

    total_songs = 0
    for item in response['tracks']['items']:
        if item['track']:
            total_songs += 1
            tracks['id'].append(item['track']['id'])
            tracks['name'].append(item['track']['name'])
            tracks['added_at'].append(datetime.fromisoformat(item['added_at'][:-1]))

            tracks['added_at'], tracks['name'], tracks['id'] = list(map(list, zip(*sorted(zip( tracks['added_at'],
                                                                                        tracks['name'], 
                                                                                        tracks['id'] )))))

    df = pd.DataFrame(tracks)
    df_c = df_rc[df_rc['added_at'] >= df['added_at'][0]]

    filtered_df_rc = df_c[df_c.name.isin(df['name'])]

    filtered_df_rc.reset_index(drop=True, inplace=True)
    filtered_df_rc['ts'] = filtered_df_rc.added_at.values.astype(np.int64) // 10 ** 9

    filtered_df_pl = df[df.name.isin(df_c['name'])]
    filtered_df_pl.reset_index(drop=True, inplace=True)
    filtered_df_pl['ts'] = filtered_df_pl.added_at.values.astype(np.int64) // 10 ** 9

    now_tc = datetime.timestamp(datetime.now())

    filtered_df_rc['promotion_time_hours'] = np.where(  filtered_df_rc.ts >= filtered_df_pl.ts,
                                                            (now_tc - filtered_df_rc.ts) / (60 * 60),
                                                            0
                                                        )
    playlist_info['name'].append(response['name'])
    playlist_info['followers'].append(response['followers']['total'])
    
    promoted_songs = len(filtered_df_rc[filtered_df_rc['promotion_time_hours'] > 0])
    playlist_info['total_songs'].append(total_songs) 
    playlist_info['promoted_songs'].append(promoted_songs)
    playlist_info['songs_promoted_ratio'].append(promoted_songs / total_songs if total_songs else 0)
    
    total_promotion_time_hours = sum(filtered_df_rc['promotion_time_hours'])
    playlist_info['avg_promotion_time_hours'].append(total_promotion_time_hours / promoted_songs if total_promotion_time_hours else 0)


playlist_df = pd.DataFrame(playlist_info)

<ipython-input-11-1357c83ee9b0>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_rc['ts'] = filtered_df_rc.added_at.values.astype(np.int64) // 10 ** 9
<ipython-input-11-1357c83ee9b0>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_pl['ts'] = filtered_df_pl.added_at.values.astype(np.int64) // 10 ** 9

,id,name,added_at,ts
0,4lUmnwRybYH7mMzf16xB0y,Hats Off (feat. Travis Scott),2021-06-04 04:00:00,1622779200
1,1fxYz1s15pyZLsJT0Hdh1m,Late At Night,2021-06-04 04:00:00,1622779200
2,2L6lh2RmMs1yz4FQzdbwOn,Up The Side (feat. Young Thug),2021-06-04 04:00:00,1622779200
3,2cv6XK6H0imQqD16uvHMOS,Feelin' Peachy,2021-06-11 04:32:20,1623385940
4,2NM0qHzx4Ohy8iXHEEgwlO,Having Our Way (feat. Drake),2021-06-11 04:32:20,1623385940
5,2Igem6Q4sfvXGJ3JkG7Baw,Modern Day,2021-06-11 04:32:20,1623385940
6,5zNW5ARjYhJQJz1AChP33n,Thot Shit,2021-06-11 04:32:20,1623385940
7,64v1g2HcPumBz2Wd1rT56b,LUMBERJACK,2021-06-16 18:22:05,1623867725
8,1rdTdOTRfGXjQ9Auwn1gzx,Angles (feat. Chris Brown),2021-06-18 04:01:00,1623988860
9,0cu0rhnlCnJ7JIeHRiLpj3,Ball If I Want To,2021-06-18 04:01:00,1623988860
10,2jVsFJ1RBsNURL1aLzAE0S,Posse on Bouldercrest (feat. Pooh Shiesty & Si...,2021-06-18 04:01:00,1623988860

<ipython-input-11-1357c83ee9b0>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_rc['promotion_time_hours'] = np.where(  filtered_df_rc.ts >= filtered_df_pl.ts,

Empty DataFrame
Columns: [id, name, added_at, ts]
Index: []

<ipython-input-11-1357c83ee9b0>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_rc['ts'] = filtered_df_rc.added_at.values.astype(np.int64) // 10 ** 9
<ipython-input-11-1357c83ee9b0>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_pl['ts'] = filtered_df_pl.added_at.values.astype(np.int64) // 10 ** 9

                       id     name            added_at          ts
0  7nc7mlSdWYeFom84zZ8Wr8  Tell Em 2021-06-11 19:44:30  1623440670

<ipython-input-11-1357c83ee9b0>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_rc['promotion_time_hours'] = np.where(  filtered_df_rc.ts >= filtered_df_pl.ts,

Empty DataFrame
Columns: [id, name, added_at, ts]
Index: []

Empty DataFrame
Columns: [id, name, added_at, ts]
Index: []

Empty DataFrame
Columns: [id, name, added_at, ts]
Index: []

<ipython-input-11-1357c83ee9b0>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_rc['ts'] = filtered_df_rc.added_at.values.astype(np.int64) // 10 ** 9
<ipython-input-11-1357c83ee9b0>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_pl['ts'] = filtered_df_pl.added_at.values.astype(np.int64) // 10 ** 9

,id,name,added_at,ts
0,3JVTsvTldB6arHVlmxmTnM,Company (feat. Future),2021-03-26 16:16:45,1616775405

<ipython-input-11-1357c83ee9b0>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_rc['promotion_time_hours'] = np.where(  filtered_df_rc.ts >= filtered_df_pl.ts,

Empty DataFrame
Columns: [id, name, added_at, ts]
Index: []

Empty DataFrame
Columns: [id, name, added_at, ts]
Index: []

,name,followers,total_songs,promoted_songs,songs_promoted_ratio,avg_promotion_time_hours
0,New Joints,68016,49,4,0.081633,330.327961
1,Fresh Finds: Hip Hop,138816,52,0,0.000000,0.000000
2,,5196,100,0,0.000000,0.000000
3,UPROXX New Hip-Hop Live Stream,3555,100,0,0.000000,0.000000
4,NEW ALTERNATIVE HIP HOP,29254,20,0,0.000000,0.000000
5,ðŸ”¥New Discoveries ~ Rap/Hip Hop/Trap/R&B/Pop H...,14567,79,0,0.000000,0.000000
6,New Hip Hop Friday,3815,93,0,0.000000,0.000000
7,NEW HIP HOP HITS 2021,22206,30,0,0.000000,0.000000
8,New Hip Hop Jams,30041,43,0,0.000000,0.000000

In [43]:
scaler = MinMaxScaler()
col = playlist_df.columns[1].split() + list(playlist_df.columns[4:])
print(col)
scaled = scaler.fit_transform(playlist_df[col])
scaled_df = pd.DataFrame(scaled)
playlist_df['ranking'] = scaled_df[0] + scaled_df[1] + scaled_df[2]

playlist_df.sort_values(by='ranking', ascending=False, inplace=True)

['followers', 'songs_promoted_ratio', 'avg_promotion_time_hours', 'ranking']

In [44]:
playlist_df.to_csv("ranked_playlists.csv")

,name,followers,total_songs,promoted_songs,songs_promoted_ratio,avg_promotion_time_hours,ranking
0,New Joints,68016,49,4,0.081633,330.327961,2.476568
1,Fresh Finds: Hip Hop,138816,52,0,0.000000,0.000000,1.000000
8,New Hip Hop Jams,30041,43,0,0.000000,0.000000,0.195814
4,NEW ALTERNATIVE HIP HOP,29254,20,0,0.000000,0.000000,0.189996
7,NEW HIP HOP HITS 2021,22206,30,0,0.000000,0.000000,0.137889
5,ðŸ”¥New Discoveries ~ Rap/Hip Hop/Trap/R&B/Pop H...,14567,79,0,0.000000,0.000000,0.081413
2,,5196,100,0,0.000000,0.000000,0.012132
6,New Hip Hop Friday,3815,93,0,0.000000,0.000000,0.001922
3,UPROXX New Hip-Hop Live Stream,3555,100,0,0.000000,0.000000,0.000000